@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">About.</h1>
<h2 class="text-danger">About this exercise.</h2>

@if (Model.ShowRequestId)
{
    <h3>In this exercise we learn to use MVC and dotnet.</h3>
}

