@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Websoft Banking exercise</h1>
    <p>A way of checking accounts in .NET and MVC environment.</p>
    <h2><a href="/accounts">All Accounts!</a></h2>
</div>

<h1>My accounts!</h1>
<h3>------------------------</h3>
@foreach (var account in Model.Accounts)
{
    <a href="/account/@account.Number">@account.Label</a> 
    <br>
   // <h2>@account.Label</h2>
}
